.cont-25{behavior:url(js/PIE.htc);-pie-background:rgba(29,187,137,0.978594);}
.cont-31{behavior:url(js/PIE.htc);-pie-background:rgba(136,48,171,0.997852);}
.cont-38{behavior:url(js/PIE.htc);-pie-background:rgba(29,187,137,0.978594);}
.cont-43{behavior:url(js/PIE.htc);-pie-background:rgba(136,48,171,0.997852);}
